.git
.github
.DS_Store
.npmrc
**/.npmrc
**/node_modules

.env
.env.*
**/.env
**/.env.*

coverage
**/coverage
.cache
**/.cache
playwright-report
**/playwright-report
blob-report
**/blob-report
test-results
**/test-results
server/tests
server/e2e
server/playwright.config.js
server/scripts/checkJavaScript.js
*.log
